* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: inherit;
}

@font-face {
  font-family: Metropolis-Light;
  src: url(./font/Metropolis-Light.woff);
}
@font-face {
  font-family: Metropolis-medium;
  src: url(./font/Metropolis-Medium.woff);
}
@font-face {
  font-family: Metropolis-regular;
  src: url(./font/Metropolis-Regular.woff);
}
/*reset*/
body {
  font-family: Metropolis-medium;
}

/***********************************************************/
header.hide {
  transform: translateY(-100%);
}

.sec3 {
  width: 100%;
  height: 120vh;
  position: relative;
  padding: 150px 0;
  background: #f4f7fa;
  overflow: hidden;
  margin: auto;
}
.sec3 h2 {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #333;
  letter-spacing: 2px;
  opacity: 1;
}
.sec3 ul.tab-li {
  width: 100%;
  text-align: center;
  margin-top: 43px;
  opacity: 0;
  transform: translate(0, -100px);
  transition: 1s;
  transition-delay: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.sec3 ul.tab-li {
  opacity: 1;
  transform: translate(0, 0);
}
.sec3 ul.tab-li span {
  display: inline-block;
  width: 2px;
  height: 20px;
  margin: 0 26px;
  background: #ddd;
  vertical-align: top;
}
.sec3 ul.tab-li li a {
  display: inline-block;
  font-size: 22px;
  color: #888;
  vertical-align: top;
}
.sec3 ul.tab-li li a.on {
  font-weight: 900;
  color: #0890c0;
}
.sec3 .sec3-item {
  position: relative;
  width: 100%;
}
.sec3 .sec3-item .tab {
  width: 1280px;
  height: 720px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.sec3 .sec3-item .tab.on {
  display: block;
}
.sec3 .sec3-item .swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.sec3 .sec3-item .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sec3 .sec3-item .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 720px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec3 .sec3-item .swiper .swiper-slide::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./image/dimd2_main.png);
}
.sec3 .swiper-scrollbar {
  bottom: -50px;
  background: #dbdee1;
}
.sec3 .swiper-scrollbar-drag {
  background: #0890c0;
}
.sec3 svg {
  width: 50px;
  height: 150px;
  cursor: pointer;
}
.sec3 svg path {
  stroke: #c9c9c9;
  stroke-width: 4;
  stroke-linecap: round;
  fill: transparent;
  transition: 0.4s;
}
.sec3 .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sec3 .prev {
  left: 0;
  /* pointer-events: none; */
}
.sec3 .next {
  right: 0;
}
.sec3 .sh1 p {
  position: absolute;
  top: 50%;
  left: auto;
  right: -10px;
  width: auto;
  transform: translateY(-50%) rotate(-90deg);
  font-family: "Metropolis";
  font-size: 15px;
  font-weight: 300;
  color: #333;
  line-height: 1;
  letter-spacing: 1px;
}
.sec3 .sh1 p span {
  opacity: 0;
}
.sec3 .sh1:hover span {
  opacity: 1;
}
.sec3 .sh2 p {
  position: absolute;
  top: 50%;
  left: -10px;
  right: auto;
  width: auto;
  transform: translateY(-50%) rotate(90deg);
  font-family: "Metropolis";
  font-size: 15px;
  font-weight: 300;
  color: #333;
  line-height: 1;
  letter-spacing: 1px;
}
.sec3 .sh2 p span {
  opacity: 0;
}
.sec3 .sh2:hover span {
  opacity: 1;
}

.sec6 {
  height: 70vh;
  margin: auto;
  position: relative;
}
.sec6 .map-area {
  width: 100%;
  height: 500px;
  background-size: cover;
  position: relative;
}
.sec6 .map-area .map {
  width: 100%;
}
.sec6 .map-area .map img {
  width: 100%;
}
.sec6 .map-area .inner {
  position: absolute;
  bottom: 10px;
  right: 10%;
  width: 80%;
  height: 320px;
}
.sec6 .map-area .inner .srch_box {
  width: 340px;
  height: 340px;
  background: #0890c0;
  padding: 70px 25px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
}
.sec6 .map-area .inner .srch_box .txt {
  position: absolute;
  top: auto;
  bottom: -40px;
  left: auto;
  right: 0;
  opacity: 1;
  transition: all 0.5s ease;
  width: 340px;
  height: 340px;
  padding: 55px 70px 90px 70px;
  font-size: 18px;
}
.sec6 .map-area .inner .srch_box .sch {
  position: absolute;
  bottom: 50px;
  right: 50px;
  border-bottom: #fff solid 2px;
  margin-top: 50px;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 30px;
}
.sec6 .map-area .inner .srch_box .sch a {
  display: block;
  width: 27px;
  height: 40px;
  text-indent: -9999px;
  background: url(./image/search-icon-wht.png) no-repeat center center;
}
.sec6 .map-area .inner .srch_box .sch input {
  background: transparent;
  border: none;
  padding: 10px 0;
  color: #fff;
}
.sec6 .map-area .inner .srch_box .sch input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  font-size: 18px;
}
.sec6 .map-area .inner .srch_box .sch input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  font-size: 18px;
}
.sec6 .map-area .inner .srch_box .sch input:focus {
  outline: none;
}
.sec6 .map-area .inner .srch_box .sch input:active {
  outline: none;
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
    height: 100px;
  }
  header .p-header {
    display: none;
  }
  header .m-header {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100px;
    background: #fff;
  }
  header .m-header .m-header-mi {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  header .m-header .m-header-mi li img {
    width: 80%;
  }
  header .m-header .left-box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
    transition: opacity 0.2s ease;
  }
  header .m-header .left-box .toplogo {
    position: absolute;
    top: 3%;
    left: 5%;
    transform: translate(20% -50%);
  }
  header .m-header .left-box .close-map-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 101;
  }
  header .m-header .left-box .close-map-btn span, header .m-header .left-box .close-map-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 3px;
    background: #000000;
    transform-origin: center;
  }
  header .m-header .left-box .close-map-btn span {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  header .m-header .left-box .close-map-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  header .m-header .left-box ul.leftmap-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    color: #333;
    margin: 150px 35px 0;
  }
  header .m-header .left-box ul.leftmap-nav li.main-left {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 22px;
    font-weight: 700;
    line-height: 50px;
  }
  header .m-header .left-box ul.leftmap-nav li.main-left::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    right: 0;
    background: url(./image/icon.png);
    background-size: cover;
  }
  header .m-header .left-box ul.leftmap-nav li.main-left.on > a {
    background-color: #e33a56;
    color: #fff;
  }
  header .m-header .left-box ul.leftmap-nav li.main-left ul.sub-left {
    font-size: 18px;
    font-weight: 500;
    display: none;
    background-color: #f4f4f4;
    color: #777;
  }
  header .m-header .left-box ul.leftmap-nav li.main-left ul.sub-left li {
    display: block;
    position: relative;
    margin-left: 20px;
  }
  header .m-header .left-box ul.leftmap-nav li.main-left ul.sub-left li a {
    display: block;
    position: relative;
  }
  header .m-header .left-box ul.leftmap-nav li.main-left ul.sub-left li a::before {
    content: "";
    width: 5px;
    height: 5px;
    background: #777;
    position: absolute;
    z-index: 999;
    left: -10px;
    top: 22px;
    border-radius: 50%;
  }
  .sec1 {
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
  }
  .sec1 .mySwiper1 {
    display: none;
  }
  .sec1 .mySwiper2 {
    width: 100%;
    height: 100%;
  }
  .sec1 .mySwiper2 .swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec1 .mySwiper2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 90vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sec1 .mySwiper2 .swiper-slide video {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sec1 .mySwiper2 svg {
    width: 50px;
    height: 150px;
    cursor: pointer;
  }
  .sec1 .mySwiper2 svg path {
    stroke: #c9c9c9;
    stroke-width: 4;
    stroke-linecap: round;
    fill: transparent;
    transition: 0.4s;
  }
  .sec1 .mySwiper2 .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
  }
  .sec1 .mySwiper2 .prev {
    left: 0;
    /* pointer-events: none; */
  }
  .sec1 .mySwiper2 .next {
    right: 0;
  }
  .sec1 .mySwiper2 .sh1 p {
    position: absolute;
    top: 50%;
    left: auto;
    right: -10px;
    width: auto;
    transform: translateY(-50%) rotate(-90deg);
    font-family: "Metropolis";
    font-size: 15px;
    font-weight: 300;
    color: #333;
    line-height: 1;
    letter-spacing: 1px;
  }
  .sec1 .mySwiper2 .sh1 p span {
    opacity: 0;
  }
  .sec1 .mySwiper2 .sh1:hover span {
    opacity: 1;
  }
  .sec1 .mySwiper2 .sh2 p {
    position: absolute;
    top: 50%;
    left: -10px;
    right: auto;
    width: auto;
    transform: translateY(-50%) rotate(90deg);
    font-family: "Metropolis";
    font-size: 15px;
    font-weight: 300;
    color: #333;
    line-height: 1;
    letter-spacing: 1px;
  }
  .sec1 .mySwiper2 .sh2 p span {
    opacity: 0;
  }
  .sec1 .mySwiper2 .sh2:hover span {
    opacity: 1;
  }
  .sec2 {
    max-width: 100%;
    margin: auto;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .sec2 h2 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #333;
    letter-spacing: 2px;
    opacity: 1;
    transform: translate(0, 100px);
    transition: 1s;
  }
  .sec2 h2:active {
    opacity: 1;
    transform: translate(0, 0px);
  }
  .sec2 .tab-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    margin-top: 8%;
  }
  .sec2 .tab-box .tab-list {
    display: none;
  }
  .sec2 .tab-box .sec2-contents {
    width: 100%;
    overflow: hidden;
  }
  .sec2 .tab-box .sec2-contents .sec2-video {
    overflow: hidden;
  }
  .sec2 .tab-box .sec2-contents .sec2-video .video {
    position: relative;
    width: 400%;
    transition: transform 0.5s ease;
    display: flex;
  }
  .sec2 .tab-box .sec2-contents .sec2-video .video li {
    position: relative;
    flex: 1;
    height: 800px;
    overflow: hidden;
  }
  .sec2 .tab-box .sec2-contents .sec2-video .video li::before {
    content: "";
    width: 100%;
    height: 100%;
    background: url(./image/mainsec4_gradi_m.png) no-repeat center/cover;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
  .sec2 .tab-box .sec2-contents .sec2-video .video li video {
    width: 100%;
    height: 100%;
    position: absolute;
    vertical-align: top;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sec2 .tab-box .sec2-contents .sec2-desc {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 2;
  }
  .sec2 .tab-box .sec2-contents .sec2-desc .desc {
    position: relative;
    height: 800px;
    width: 400%;
    display: flex;
    color: #fff;
  }
  .sec2 .tab-box .sec2-contents .sec2-desc .desc li {
    flex: 1;
    max-width: 600px;
    position: relative;
    transition: transform 1.5s ease;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .sec2 .tab-box .sec2-contents .sec2-desc .desc li.on {
    opacity: 1;
    transform: translateY(0);
  }
  .sec2 .tab-box .sec2-contents .sec2-desc .desc li h3 {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: -3px;
    opacity: 1;
  }
  .sec2 .tab-box .sec2-contents .sec2-desc .desc li p {
    font-size: 16px;
    line-height: 29px;
    margin-top: 15px;
    opacity: 1;
  }
  .sec2 .tab-box .sec2-contents .sec2-pagination {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 10;
  }
  .sec2 .tab-box .sec2-contents .sec2-pagination span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #777;
    cursor: pointer;
  }
  .sec2 .tab-box .sec2-contents .sec2-pagination span.on {
    background: #fff;
  }
  .sec3 {
    width: 100%;
    height: 120vh;
    position: relative;
    padding: 150px 0;
    background: #f4f7fa;
    overflow: hidden;
    margin: auto;
  }
  .sec3 h2 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #333;
    letter-spacing: 2px;
    opacity: 1;
  }
  .sec3 ul.tab-li {
    width: 100%;
    text-align: center;
    margin-top: 43px;
    opacity: 0;
    transform: translate(0, -100px);
    transition: 1s;
    transition-delay: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .sec3 ul.tab-li {
    opacity: 1;
    transform: translate(0, 0);
  }
  .sec3 ul.tab-li span {
    display: inline-block;
    width: 2px;
    height: 20px;
    margin: 0 26px;
    background: #ddd;
    vertical-align: top;
  }
  .sec3 ul.tab-li li a {
    display: inline-block;
    font-size: 18px;
    color: #888;
    vertical-align: top;
  }
  .sec3 ul.tab-li li a.on {
    font-weight: 900;
    color: #0890c0;
  }
  .sec3 .sec3-item {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .sec3 .sec3-item .tab {
    width: 100%;
    height: 720px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }
  .sec3 .sec3-item .tab.on {
    display: block;
  }
  .sec3 .sec3-item .swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  .sec3 .sec3-item .swiper .swiper-slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sec3 .sec3-item .swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sec3 .sec3-item .swiper .swiper-slide .txt-box {
    z-index: 1;
    color: #fff;
    padding: 10px 30px;
    position: relative;
  }
  .sec3 .sec3-item .swiper .swiper-slide .txt-box ul {
    margin-top: 30px;
  }
  .sec3 .sec3-item .swiper .swiper-slide .txt-box ul li {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 30px;
    border: 1px solid #fff;
    border-radius: 15px;
  }
  .sec3 .sec3-item .swiper .swiper-slide .txt-box h3 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s ease-out 0s;
  }
  .sec3 .sec3-item .swiper .swiper-slide .txt-box p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    transition: all 0.5s ease-out 0s;
  }
  .sec3 .sec3-item .swiper .swiper-slide .txt-box button {
    display: block;
    height: 50px;
    padding: 0 15px;
    font-size: 14x;
    font-weight: 500;
    transition: all 0.5s ease-out 0s;
    margin-top: 60px;
    text-align: center;
    border: 1px solid #fff;
    position: absolute;
    bottom: -50%;
    left: 41%;
  }
  .sec3 .swiper-scrollbar {
    bottom: -50px;
    background: #dbdee1;
  }
  .sec3 .swiper-scrollbar-drag {
    background: #0890c0;
  }
  .sec3 svg {
    width: 50px;
    height: 150px;
    cursor: pointer;
  }
  .sec3 svg path {
    stroke: #c9c9c9;
    stroke-width: 4;
    stroke-linecap: round;
    fill: transparent;
    transition: 0.4s;
  }
  .sec3 .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .sec3 .prev {
    left: 0;
  }
  .sec3 .next {
    right: 0;
  }
  .sec3 .sh1 p {
    position: absolute;
    top: 50%;
    left: auto;
    right: -10px;
    width: auto;
    transform: translateY(-50%) rotate(-90deg);
    font-family: "Metropolis";
    font-size: 15px;
    font-weight: 300;
    color: #333;
    line-height: 1;
    letter-spacing: 1px;
  }
  .sec3 .sh1 p span {
    opacity: 0;
  }
  .sec3 .sh1:hover span {
    opacity: 1;
  }
  .sec3 .sh2 p {
    position: absolute;
    top: 50%;
    left: -10px;
    right: auto;
    width: auto;
    transform: translateY(-50%) rotate(90deg);
    font-family: "Metropolis";
    font-size: 15px;
    font-weight: 300;
    color: #333;
    line-height: 1;
    letter-spacing: 1px;
  }
  .sec3 .sh2 p span {
    opacity: 0;
  }
  .sec3 .sh2:hover span {
    opacity: 1;
  }
  .sec4 {
    max-width: 100%;
    margin: auto;
    height: 100vh;
    position: relative;
    background: #f4f7fa;
  }
  .sec4 h2 {
    font-size: 25px;
    font-weight: 300;
    color: #333;
    line-height: 62px;
    letter-spacing: 4.5px;
    text-align: center;
    transition: top 0.4s ease, opacity 0.4s ease;
  }
  .sec4 .sec4-contents {
    width: 100%;
    margin: auto;
    position: relative;
  }
  .sec4 .sec4-contents h3 {
    display: none;
  }
  .sec4 .sec4-contents .sec4-img {
    overflow: hidden;
    width: 90%;
  }
  .sec4 .sec4-contents .sec4-img ul.image {
    display: flex;
    position: relative;
    width: 100%;
  }
  .sec4 .sec4-contents .sec4-img ul.image img {
    width: 100%;
  }
  .sec4 .sec4-contents .sec4-img ul.image .mobile-txt {
    padding: 40px;
  }
  .sec4 .sec4-contents .sec4-img .swiper-scrollbar {
    background: #dbdee1;
  }
  .sec4 .sec4-contents .sec4-img .swiper-scrollbar-drag {
    background: #0890c0;
  }
  .sec4 .sec4-contents .sec4-list {
    display: none;
  }
  .sec5 {
    width: 100%;
    height: 100%;
    margin: 50px auto;
  }
  .sec5 h2 {
    font-size: 25px;
    color: #333;
    line-height: 62px;
    letter-spacing: 4.5px;
    text-align: center;
    margin-bottom: 20px;
  }
  .sec5 .grid {
    width: 100%;
    height: 100vh;
  }
  .sec5 .grid .swiper {
    width: 90%;
    height: 100%;
  }
  .sec5 .grid .swiper .swiper-wrapper {
    flex-wrap: wrap;
  }
  .sec5 .grid .swiper .swiper-wrapper .swiper-slide {
    width: 48%;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec5 .grid .swiper .swiper-wrapper .swiper-slide figure {
    overflow: hidden;
  }
  .sec5 .grid .swiper .swiper-wrapper .swiper-slide figure img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 1s ease-out 0s;
  }
  .sec5 .grid .swiper .swiper-wrapper .swiper-slide:hover img {
    transform: scale(1.1);
  }
  .sec5 .sns-btn {
    margin: 20px 0;
  }
  .sec5 .sns-btn ul {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
  }
  .sec5 .sns-btn ul img {
    width: 100%;
  }
  footer {
    width: 100%;
    margin: 0 auto;
  }
  footer .icon-list {
    margin: 10% 0 10%;
  }
  footer .icon-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  footer .icon-list ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 133px;
    height: 38px;
    border-right: 1px solid #ebebeb;
    text-align: center;
    font-size: 14px;
    color: #333;
  }
  footer .icon-list ul li img {
    width: 50px;
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer .middle-footer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 362px;
  }
  footer .middle-footer .call {
    width: 50%;
    height: 162px;
    font-size: 14px;
    color: #333;
    padding: 20px;
  }
  footer .middle-footer .call h5 {
    font-size: 20px;
  }
  footer .middle-footer .call h3 {
    font-size: 20px;
    margin-top: 35px;
    letter-spacing: 3px;
  }
  footer .middle-footer .call p {
    color: #888;
    margin-top: 6px;
  }
  footer .middle-footer .as {
    width: 50%;
    height: 162px;
    font-size: 14px;
    color: #333;
    padding: 20px;
  }
  footer .middle-footer .as h3 {
    font-size: 20px;
    margin-top: 35px;
    letter-spacing: 3px;
  }
  footer .middle-footer .as p {
    color: #888;
    margin-top: 6px;
  }
  footer .copyright p {
    font-size: 10px;
    font-weight: 300;
    color: #777;
    line-height: 30px;
  }
}
@media screen and (min-width: 601px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    width: 100%;
    height: 155px;
    padding: 0 80px;
    z-index: 999;
    transition: all 0.4s ease-out;
  }
  header.on::after {
    height: 30vh;
    opacity: 1;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
  }
  header::after {
    content: "";
    width: 100vw;
    height: 155px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.35s;
    background: #fff;
  }
  header h1 {
    display: block;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 182px;
    height: 48px;
    z-index: 1;
  }
  header .util {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-items: flex-end;
    width: 100%;
    padding: 20px 0;
    z-index: 2;
  }
  header .util ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  header .util ul li {
    padding: 10px;
    color: #666;
  }
  header .util ul li a {
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
  }
  header .util ul .ring {
    background: url(./image/wedding-icon.png) left 15px center no-repeat #41b4b7;
    width: 125px;
    height: 36px;
    padding: 11px 15px 0 34px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    text-align: center;
    border-radius: 50px;
  }
  header .util ul .moll {
    width: 125px;
    height: 36px;
    padding: 10px 14px 0;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #9badb6;
    background: #9badb6;
  }
  header nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 10;
    font-size: 18px;
  }
  header nav .nav1 {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 85px;
    padding-right: 50px;
  }
  header nav .nav1 .main-menu {
    display: flex;
  }
  header nav .nav1 .main-menu:hover > li:not(:last-child) {
    transition: 0.5s;
    padding-right: 40px;
  }
  header nav .nav1 .main-menu:hover > li > a span.hover {
    display: block;
  }
  header nav .nav1 .main-menu:hover a span.on {
    display: none;
  }
  header nav .nav1 .main-menu:hover .sub-menu {
    display: block;
  }
  header nav .nav1 .main-menu > li:hover > a {
    color: #0890c0;
  }
  header nav .nav1 .main-menu > li:not(:last-child) {
    padding-right: 20px;
  }
  header nav .nav1 .main-menu > li > a {
    display: block;
    text-decoration: none;
    color: #666;
    font-size: 18px;
    font-weight: 550;
    letter-spacing: -0.025em;
    line-height: 1;
  }
  header nav .nav1 .main-menu > li > a span.hover {
    display: none;
  }
  header nav .nav1 .main-menu > li .sub-menu {
    padding: 10px 0 0;
    display: none;
    font-size: 15px;
    color: #666;
  }
  header nav .nav1 .main-menu > li .sub-menu li > a {
    display: block;
    padding: 5px 0;
  }
  header nav .nav2 {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 85px;
  }
  header nav .nav2 .main-menu {
    display: flex;
    gap: 30px;
    transition: 0.5s;
  }
  header nav .nav2 .main-menu:hover {
    gap: 40px;
  }
  header nav .nav2 .main-menu:hover .sub-menu {
    display: block;
  }
  header nav .nav2 .main-menu > li:hover > a {
    color: #0890c0;
  }
  header nav .nav2 .main-menu > li:last-child {
    width: 120px;
  }
  header nav .nav2 .main-menu > li > a {
    display: block;
    text-decoration: none;
    color: #666;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.025em;
    line-height: 1;
  }
  header nav .nav2 .main-menu > li .sub-menu {
    padding: 10px 0 0;
    display: none;
    font-size: 15px;
    color: #666;
  }
  header nav .nav2 .main-menu > li .sub-menu li > a {
    display: block;
    padding: 5px 0;
  }
  header nav .nav2 .all-menu {
    margin-left: 10px;
  }
  header .m-header {
    display: none;
  }
  .sec1 {
    position: relative;
    width: 100%;
    height: calc(100vh - 280px);
    margin-top: 150px;
  }
  .sec1 .swiper {
    width: 100%;
    height: 100%;
  }
  .sec1 .swiper .swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec1 .swiper .swiper-slide img {
    position: relative;
    width: calc(100% - 160px);
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sec1 .swiper svg {
    width: 50px;
    height: 150px;
    cursor: pointer;
  }
  .sec1 .swiper svg path {
    stroke: #c9c9c9;
    stroke-width: 4;
    stroke-linecap: round;
    fill: transparent;
    transition: 0.4s;
  }
  .sec1 .swiper .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
  }
  .sec1 .swiper .prev {
    left: 0;
    /* pointer-events: none; */
  }
  .sec1 .swiper .next {
    right: 0;
  }
  .sec1 .swiper .sh1 p {
    position: absolute;
    top: 50%;
    width: auto;
    transform: translateY(-50%) rotate(-90deg);
    font-family: "Metropolis";
    font-size: 15px;
    font-weight: 300;
    color: #333;
    line-height: 1;
    letter-spacing: 1px;
  }
  .sec1 .swiper .sh1 p span {
    opacity: 0;
  }
  .sec1 .swiper .sh1:hover span {
    opacity: 1;
  }
  .sec1 .swiper .sh2 p {
    position: absolute;
    top: 50%;
    left: -10px;
    right: auto;
    width: auto;
    transform: translateY(-50%) rotate(90deg);
    font-family: "Metropolis";
    font-size: 15px;
    font-weight: 300;
    color: #333;
    line-height: 1;
    letter-spacing: 1px;
  }
  .sec1 .swiper .sh2 p span {
    opacity: 0;
  }
  .sec1 .swiper .sh2:hover span {
    opacity: 1;
  }
  .sec1 .mySwiper2 {
    display: none;
  }
  .sec2 {
    max-width: 100%;
    margin: auto;
    height: 100vh;
    position: relative;
  }
  .sec2 h2 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: #333;
    letter-spacing: 2px;
    opacity: 1;
    transform: translate(0, 100px);
    transition: 1s;
  }
  .sec2 h2:active {
    opacity: 1;
    transform: translate(0, 0px);
  }
  .sec2 .tab-box {
    width: 100%;
    max-width: 1800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    margin-top: 8%;
  }
  .sec2 .tab-box .tab-list {
    width: 33.3333%;
  }
  .sec2 .tab-box .tab-list li {
    display: block;
    position: relative;
    width: 100%;
    height: 17px;
    margin-bottom: 27px;
    font-size: 16px;
    color: #999;
    letter-spacing: 1px;
    transition: 0.5s;
    transition-property: font-size;
    cursor: pointer;
  }
  .sec2 .tab-box .tab-list li:hover {
    font-size: 22px;
    color: #0890c0;
    font-weight: bold;
  }
  .sec2 .tab-box .tab-list li.on {
    font-size: 22px;
    color: #0890c0;
    font-weight: bold;
  }
  .sec2 .tab-box .sec2-contents {
    display: flex;
  }
  .sec2 .tab-box .sec2-contents .sec2-video {
    overflow: hidden;
    min-width: 710px;
  }
  .sec2 .tab-box .sec2-contents .sec2-video .video {
    position: relative;
    width: 710px;
    transition: transform 0.5s ease;
    display: flex;
  }
  .sec2 .tab-box .sec2-contents .sec2-video .video li {
    position: relative;
    min-width: 710px;
    height: 800px;
    overflow: hidden;
  }
  .sec2 .tab-box .sec2-contents .sec2-video .video li video {
    position: absolute;
    vertical-align: top;
    display: block;
    left: -40%;
    top: 0;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sec2 .tab-box .sec2-contents .sec2-desc {
    overflow: hidden;
    min-width: 710px;
  }
  .sec2 .tab-box .sec2-contents .sec2-desc .desc {
    position: relative;
    height: 800px;
    width: 600px;
  }
  .sec2 .tab-box .sec2-contents .sec2-desc .desc li {
    min-width: 600px;
    position: absolute;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1.5s ease;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .sec2 .tab-box .sec2-contents .sec2-desc .desc li.on {
    opacity: 1;
    transform: translateY(0);
  }
  .sec2 .tab-box .sec2-contents .sec2-desc .desc li h3 {
    font-size: 40px;
    font-weight: 0;
    color: #333;
    line-height: 54px;
    letter-spacing: -3px;
    opacity: 1;
    transform: translate(0, 100px);
  }
  .sec2 .tab-box .sec2-contents .sec2-desc .desc li p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 24px;
    opacity: 1;
    transform: translate(0, 100px);
  }
  .sec2 svg {
    width: 50px;
    height: 150px;
    cursor: pointer;
  }
  .sec2 svg path {
    stroke: #c9c9c9;
    stroke-width: 4;
    stroke-linecap: round;
    fill: transparent;
    transition: 0.4s;
  }
  .sec2 .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
  }
  .sec2 .prev {
    left: 0;
    /* pointer-events: none; */
  }
  .sec2 .next {
    right: 0;
  }
  .sec2 .sh1 p {
    position: absolute;
    top: 50%;
    left: auto;
    right: -10px;
    width: auto;
    transform: translateY(-50%) rotate(-90deg);
    font-family: "Metropolis";
    font-size: 15px;
    font-weight: 300;
    color: #333;
    line-height: 1;
    letter-spacing: 1px;
  }
  .sec2 .sh1 p span {
    opacity: 0;
  }
  .sec2 .sh1:hover span {
    opacity: 1;
  }
  .sec2 .sh2 p {
    position: absolute;
    top: 50%;
    left: -10px;
    right: auto;
    width: auto;
    transform: translateY(-50%) rotate(90deg);
    font-family: "Metropolis";
    font-size: 15px;
    font-weight: 300;
    color: #333;
    line-height: 1;
    letter-spacing: 1px;
  }
  .sec2 .sh2 p span {
    opacity: 0;
  }
  .sec2 .sh2:hover span {
    opacity: 1;
  }
  .sec3 {
    width: 100%;
    height: 120vh;
    position: relative;
    padding: 150px 0;
    background: #f4f7fa;
    overflow: hidden;
    margin: auto;
  }
  .sec3 h2 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: #333;
    letter-spacing: 2px;
    opacity: 1;
  }
  .sec3 ul.tab-li {
    width: 100%;
    text-align: center;
    margin-top: 43px;
    opacity: 0;
    transform: translate(0, -100px);
    transition: 1s;
    transition-delay: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .sec3 ul.tab-li {
    opacity: 1;
    transform: translate(0, 0);
  }
  .sec3 ul.tab-li span {
    display: inline-block;
    width: 2px;
    height: 20px;
    margin: 0 26px;
    background: #ddd;
    vertical-align: top;
  }
  .sec3 ul.tab-li li a {
    display: inline-block;
    font-size: 22px;
    color: #888;
    vertical-align: top;
  }
  .sec3 ul.tab-li li a.on {
    font-weight: 900;
    color: #0890c0;
  }
  .sec3 .sec3-item {
    position: relative;
    width: 100%;
  }
  .sec3 .sec3-item .tab {
    width: 1280px;
    height: 720px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }
  .sec3 .sec3-item .tab.on {
    display: block;
  }
  .sec3 .sec3-item .swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  .sec3 .sec3-item .swiper .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec3 .sec3-item .swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 720px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sec3 .sec3-item .swiper .swiper-slide .txt-box {
    text-align: left;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;
    transform: translate(-50% -50%);
    color: #fff;
  }
  .sec3 .sec3-item .swiper .swiper-slide .txt-box ul li {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 30px;
    border: 1px solid #fff;
    border-radius: 15px;
  }
  .sec3 .sec3-item .swiper .swiper-slide .txt-box h3 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.5s ease-out 0s;
  }
  .sec3 .sec3-item .swiper .swiper-slide .txt-box p {
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
    transition: all 0.5s ease-out 0s;
  }
  .sec3 .sec3-item .swiper .swiper-slide .txt-box button {
    display: block;
    height: 50px;
    padding: 0 29px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.5s ease-out 0s;
    margin-top: 60px;
    text-align: center;
    border: 1px solid #fff;
  }
  .sec3 .swiper-scrollbar {
    bottom: -50px;
    background: #dbdee1;
  }
  .sec3 .swiper-scrollbar-drag {
    background: #0890c0;
  }
  .sec3 svg {
    width: 50px;
    height: 150px;
    cursor: pointer;
  }
  .sec3 svg path {
    stroke: #c9c9c9;
    stroke-width: 4;
    stroke-linecap: round;
    fill: transparent;
    transition: 0.4s;
  }
  .sec3 .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .sec3 .prev {
    left: 0;
    /* pointer-events: none; */
  }
  .sec3 .next {
    right: 0;
  }
  .sec3 .sh1 p {
    position: absolute;
    top: 50%;
    left: auto;
    right: -10px;
    width: auto;
    transform: translateY(-50%) rotate(-90deg);
    font-family: "Metropolis";
    font-size: 15px;
    font-weight: 300;
    color: #333;
    line-height: 1;
    letter-spacing: 1px;
  }
  .sec3 .sh1 p span {
    opacity: 0;
  }
  .sec3 .sh1:hover span {
    opacity: 1;
  }
  .sec3 .sh2 p {
    position: absolute;
    top: 50%;
    left: -10px;
    right: auto;
    width: auto;
    transform: translateY(-50%) rotate(90deg);
    font-family: "Metropolis";
    font-size: 15px;
    font-weight: 300;
    color: #333;
    line-height: 1;
    letter-spacing: 1px;
  }
  .sec3 .sh2 p span {
    opacity: 0;
  }
  .sec3 .sh2:hover span {
    opacity: 1;
  }
  .sec4 {
    max-width: 100%;
    margin: auto;
    height: 100vh;
    position: relative;
    background: #f4f7fa;
  }
  .sec4 h2 {
    font-size: 50px;
    font-weight: 300;
    color: #333;
    line-height: 62px;
    letter-spacing: 4.5px;
    text-align: center;
    transition: top 0.4s ease, opacity 0.4s ease;
  }
  .sec4 .sec4-contents {
    width: 100%;
    max-width: 1800px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
  }
  .sec4 .sec4-contents h3 {
    font-size: 26px;
    line-height: 40px;
    color: #333;
  }
  .sec4 .sec4-contents .sec4-img {
    overflow: hidden;
    width: 710px;
    min-height: 710px;
    pointer-events: none;
  }
  .sec4 .sec4-contents .sec4-img ul.image {
    display: flex;
    position: relative;
    width: 710px;
  }
  .sec4 .sec4-contents .sec4-img ul.image .mobile-txt {
    display: none;
  }
  .sec4 .sec4-contents .sec4-img .swiper-scrollbar {
    display: none;
  }
  .sec4 .sec4-contents .sec4-list {
    width: 315px;
    margin: 20px;
  }
  .sec4 .sec4-contents .sec4-list ul li {
    display: block;
    width: 100%;
    padding: 40px 0;
    border-bottom: 1px solid #ebebeb;
    color: #999;
    word-break: keep-all;
  }
  .sec4 .sec4-contents .sec4-list ul li.on {
    color: #0890c0;
  }
  .sec4 .sec4-contents .sec4-list ul li p {
    display: block;
    font-size: 16px;
  }
  .sec5 {
    width: 1440px;
    height: 100vh;
    margin: 50px auto;
  }
  .sec5 h2 {
    font-size: 50px;
    font-weight: 300;
    color: #333;
    line-height: 62px;
    letter-spacing: 4.5px;
    text-align: center;
    margin-bottom: 20px;
  }
  .sec5 .grid {
    width: 100%;
    height: 80vh;
  }
  .sec5 .grid .swiper {
    width: 100%;
    height: 100%;
  }
  .sec5 .grid .swiper .swiper-wrapper .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: calc((100% - 80px) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec5 .grid .swiper .swiper-wrapper .swiper-slide figure {
    overflow: hidden;
  }
  .sec5 .grid .swiper .swiper-wrapper .swiper-slide figure img {
    display: block;
    width: 100%;
    height: 340px;
    transition: all 1s ease-out 0s;
  }
  .sec5 .grid .swiper .swiper-wrapper .swiper-slide:hover img {
    transform: scale(1.1);
  }
  .sec5 .sns-btn {
    margin: 50px 0;
  }
  .sec5 .sns-btn ul {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;
  }
  .sec5 .sns-btn ul img {
    width: 100%;
  }
  footer {
    width: 1600px;
    margin: 0 auto;
  }
  footer .icon-list {
    margin: 10% 0 10%;
  }
  footer .icon-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  footer .icon-list ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 233px;
    height: 98px;
    border-right: 1px solid #ebebeb;
    text-align: center;
    font-size: 20px;
    color: #333;
  }
  footer .icon-list ul li img {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer .middle-footer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 790px;
    width: 630px;
    height: 362px;
  }
  footer .middle-footer .call {
    display: table-cell;
    width: 50%;
    height: 362px;
    font-size: 16px;
    color: #333;
  }
  footer .middle-footer .call h5 {
    font-size: 30px;
  }
  footer .middle-footer .call h3 {
    font-size: 40px;
    margin-top: 35px;
    letter-spacing: 3px;
  }
  footer .middle-footer .call p {
    color: #888;
    margin-top: 6px;
  }
  footer .middle-footer .as {
    display: table-cell;
    width: 50%;
    height: 362px;
    vertical-align: middle;
    font-size: 16px;
    color: #333;
  }
  footer .middle-footer .as h3 {
    font-size: 40px;
    margin-top: 35px;
    letter-spacing: 3px;
  }
  footer .middle-footer .as p {
    color: #888;
    margin-top: 6px;
  }
  footer .copyright p {
    font-size: 14px;
    font-weight: 300;
    color: #777;
    line-height: 30px;
  }
}