@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital@1&family=Noto+Sans+KR&family=Public+Sans&display=swap");
body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Pretendard";
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: inherit;
}

/*reset*/
section {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.wrap {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: #0c0c0c;
}

.en {
  font-family: "Public Sans", sans-serif;
}

.en2 {
  font-family: "Cormorant Infant", serif;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.visual {
  padding-top: 150px;
  height: 100vh;
  box-sizing: border-box;
  background: #000;
  color: #fff;
}
.visual .inner {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visual .inner .textBox {
  width: 60%;
  line-height: 1.4;
  transform: translate3d(0, 0, 0);
}
.visual .inner .textBox p {
  animation-name: textAni3;
  animation-duration: 1s;
}
.visual .inner .textBox p:nth-child(2) {
  animation-duration: 1.2s;
}
.visual .inner .textBox p:nth-child(3) {
  animation-duration: 1.4s;
}
@keyframes textAni3 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: translate3d(9, 50px, 0);
  }
}
.visual .inner .textBox .title {
  font-size: 180px;
}
.visual .inner .textBox .title .en2 {
  font-size: 220px;
}
.visual .inner .textBox .subTitle {
  font-size: 30px;
  margin: 30px 0;
}
.visual .inner .aniBox {
  width: 350px;
  height: 350px;
  position: relative;
  margin-top: 300px;
}
.visual .inner .aniBox img {
  width: 100%;
  position: absolute;
  display: inline-block;
}
.visual .inner .aniBox .spin {
  width: 150%;
  left: -87px;
  top: -25%;
  animation-name: spin;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.visual .inner .aniBox .arrow {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  width: 20%;
}

#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}
#profile .profile_inner {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#profile .profile_inner .profile_left {
  width: 39%;
  margin: 3%;
}
#profile .profile_inner .profile_left .intro {
  font-size: 56px;
  line-height: 1.4;
  margin-bottom: 40px;
}
#profile .profile_inner .profile_left .intro span {
  background: #000;
  color: #fff;
  padding: 2px 6px;
}
#profile .profile_inner .profile_left .info {
  list-style: none;
  font-size: 18px;
  margin-bottom: 30px;
}
#profile .profile_inner .profile_left .info li {
  margin-bottom: 10px;
}
#profile .profile_inner .profile_left .info strong {
  display: inline-block;
  width: 80px;
  font-weight: 500;
}
#profile .profile_inner .profile_left .line {
  width: 100%;
  height: 1px;
  background: #ccc;
  margin: 30px 0;
}
#profile .profile_inner .profile_left .smmary {
  text-align: left;
}
#profile .profile_inner .profile_left .smmary p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}
#profile .profile_inner .profile_right {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15%;
}
#profile .profile_inner .profile_right h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: black;
}
#profile .profile_inner .profile_right ul {
  font-size: 18px;
}
#profile .profile_inner .profile_right ul li {
  margin-bottom: 16px;
  line-height: 1.6;
}
#profile .profile_inner .profile_right ul li span {
  display: block;
  font-size: 12px;
  color: #777;
}
#profile .profile_inner .profile_right .skill li {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 20px;
}
#profile .profile_inner .profile_right .skill li strong {
  width: 32px;
  height: 32px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  flex-shrink: 0;
}
#profile .profile_inner .profile_right .skill li .skill_text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#profile .profile_inner .profile_right .skill li .skill_text .title {
  font-weight: 500;
}
#profile .profile_inner .profile_right .skill li .skill_text .desc {
  font-size: 12px;
  color: #666;
  line-height: 1.4;
}

#design {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #0c0c0c;
  color: #fff;
  overflow: hidden;
}
#design .design-title {
  position: absolute;
  top: 80px;
  left: 100px;
  font-size: 120px;
  z-index: 3;
}
#design .design__wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 300px;
  padding-left: 100px;
  width: 5100px;
}
#design .design__wrap .design__item {
  width: min(600px, 80vw);
  flex-shrink: 0;
  position: relative;
  z-index: 2;
}
#design .design__wrap .design__item .design_item_txt {
  padding: 20px;
}
#design .design__wrap .design__item .design_item_txt h3 {
  font-size: 50px;
  color: #D7D7F7;
  margin-bottom: 16px;
  text-transform: uppercase;
}
#design .design__wrap .design__item .design_item_txt p {
  font-size: 20px;
  line-height: 1.7;
  color: #ddd;
}
#design .design__wrap .design__item:nth-child(2) h3 {
  color: #ff737d;
}
#design .design__wrap .design__item:nth-child(3) h3 {
  color: #F7DF1E;
}
#design .design__wrap .design__item:nth-child(4) h3 {
  color: #AFFF8D;
}
#design .design__wrap .design__item:nth-child(5) h3 {
  color: #215DFF;
}
#design .design__wrap .design__item:nth-child(6) h3 {
  color: #9A6AFF;
}
#design .design__wrap .design__item .line {
  position: absolute;
  top: 100%;
  width: 300px;
  height: 200px;
  transform: translateY(-50%);
  pointer-events: none;
}
#design .design__wrap .design__item .fir-line {
  scale: 1.3;
  right: -200px;
  transform: rotateX(180deg);
}
#design .design__wrap .design__item .se-line {
  top: 70%;
  left: 700px;
  scale: 1.5;
}
#design .design__wrap .design__item .th-line {
  top: 20%;
  right: -300px;
  scale: 1.3;
  transform: rotateZ(60deg);
}
#design .design__wrap .design__item .for-line {
  top: -30%;
  left: -250px;
  scale: 1.3;
}
#design .design__wrap .design__item.left {
  transform: translateY(-150px);
}
#design .design__wrap .design__item.right {
  transform: translateY(150px);
}

.flow {
  width: 100%;
  margin: 0 auto;
  height: 50vh;
  background-color: #0c0c0c;
}
.flow .wrap {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  padding: 50px 0;
}
.flow .wrap .wrap__boxs {
  display: flex;
  gap: 80px;
  animation: scroll-left 10s linear infinite;
  width: -moz-max-content;
  width: max-content;
}
.flow .wrap .wrap__boxs .wrap__item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  white-space: nowrap;
}
.flow .wrap .wrap__boxs .wrap__item span {
  font-size: 80px;
  font-weight: bold;
  color: #215dff;
}
.flow .wrap .wrap__boxs2 {
  display: flex;
  gap: 80px;
  animation: scroll-right 10s linear infinite;
  width: -moz-max-content;
  width: max-content;
}
.flow .wrap .wrap__boxs2 .wrap__item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  white-space: nowrap;
}
.flow .wrap .wrap__boxs2 .wrap__item span {
  font-size: 80px;
  font-weight: bold;
  color: #215dff;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

#ex-list {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
#ex-list .ex-inner {
  max-width: 1460px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#ex-list .ex-inner .ex-title {
  width: 100%;
  margin: 2% 2%;
  color: #000;
  word-break: keep-all;
  line-height: 2;
}
#ex-list .ex-inner .ex-title h2 {
  color: #000;
  font-size: 60px;
}
#ex-list .ex-inner .ex-title p {
  font-size: 18px;
}
#ex-list .ex-inner .ex-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  padding: 4% 0;
}
#ex-list .ex-inner .ex-contents .list {
  position: relative;
  width: 640px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}
#ex-list .ex-inner .ex-contents .list .card-content {
  padding: 15px;
  background: #fff;
  word-break: keep-all;
  text-align: center;
  height: 100%;
}
#ex-list .ex-inner .ex-contents .list .card-content img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  border-radius: 12px;
}
#ex-list .ex-inner .ex-contents .list .card-content h3 {
  margin: 10px 0 20px 0;
  font-size: 25px;
  color: #6e6d6d;
}
#ex-list .ex-inner .ex-contents .list .card-content p {
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
}
#ex-list .ex-inner .ex-contents .list .first {
  border: 1px solid #215DFF;
}
#ex-list .ex-inner .ex-contents .list .second {
  border: 1px solid #D7D7d7;
}
#ex-list .ex-inner .ex-contents .list .third {
  border: 1px solid #D7D7d7;
}
#ex-list .ex-inner .ex-contents .list .four {
  border: 1px solid #215DFF;
}

.con3 {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: 100px;
  background: #0c0c0c;
}
.con3 .textWrap {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
}
.con3 .textWrap .title {
  font-size: 38px;
}
.con3 .textWrap ul li {
  font-size: 100px;
  line-height: 1.2;
}
.con3 .textWrap ul li .en2 {
  padding-left: 5px;
}
.con3 .btnWrap {
  position: absolute;
  right: -50%;
  top: 60%;
  z-index: 3;
}
.con3 .btnWrap a {
  display: block;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  border: 2px solid #fff;
  position: relative;
  box-sizing: border-box;
  transition: 0.5s;
}
.con3 .btnWrap a:hover {
  border-color: transparent;
}
.con3 .btnWrap a:hover img:nth-child(2) {
  opacity: 1;
}
.con3 .btnWrap a:hover::before {
  width: 100%;
  height: 100%;
}
.con3 .btnWrap a::before {
  content: "";
  width: 0;
  height: 0;
  border-radius: 100%;
  background: #fff url(/image/readMore3.png) no-repeat center/158px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 0.4s;
}
.con3 .btnWrap a img {
  width: 22%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.con3 .btnWrap a img:nth-child(2) {
  opacity: 0;
}

.simply-scroll .simply-scroll-clip {
  overflow: hidden;
  transform: rotate(5deg) translate(150%, 400px) scale(1.1);
  opacity: 0;
}
.simply-scroll .simply-scroll-clip .simply-scroll-list li {
  float: left;
  width: 400px;
  filter: brightness(50%);
}
.simply-scroll .simply-scroll-clip .simply-scroll-list li img {
  width: 100%;
}

.con3.motion .simply-scroll .simply-scroll-clip {
  transform: rotate(5deg) translate(0%, 400px) scale(1.1);
  opacity: 1;
  transition: 1.2s;
  transition-delay: 0.3s;
}
.con3.motion .btnWrap {
  right: 50%;
  transition: 1.2s;
}
.con3.motion .textWrap ul li p {
  animation-name: textAni;
  animation-duration: 1.3s;
}

@keyframes textAni {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translate3d(0, -90px, 0) skewY(-10deg);
    transform-origin: top left;
  }
}
#contact {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  color: #000;
}
#contact .footer-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact .footer-title h2 {
  font-size: 180px;
  font-weight: 700;
  margin-top: 200px;
  text-align: center;
  color: #000;
}
#contact .footer-title .stamp {
  width: 200px;
  height: 200px;
}
#contact .footer-title .stamp img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#contact .contact__list {
  margin-top: auto;
}
#contact .contact__list ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 80px;
  margin: auto 0;
}
#contact .contact__list ul p {
  font-weight: 500;
  line-height: 2;
  font-size: 20px;
}
#contact .contact__list ul .c_right {
  text-align: end;
}