#about {
  width: 100%;
  min-height: 50vh;
  border: 1px solid #ffd;
  color: #000;
}
#about .about__title {
  font-size: 20px;
  color: #000;
  text-align: left;
  padding: 30px 20px;
}
#about .wrap {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: transparent;
  padding: 100px 0;
}
#about .wrap .wrap__boxs {
  display: flex;
  gap: 80px;
  animation: scroll-left 20s linear infinite;
  width: -moz-max-content;
  width: max-content;
}
#about .wrap .wrap__boxs .wrap__item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  white-space: nowrap;
}
#about .wrap .wrap__boxs .wrap__item img {
  width: 500px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
#about .wrap .wrap__boxs .wrap__item span {
  font-size: 80px;
  font-weight: bold;
  color: black;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}