@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital@1&family=Noto+Sans+KR&family=Public+Sans&display=swap');

body,
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Pretendard';
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
    color: inherit;
}

/*reset*/


section {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.wrap {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background: #0c0c0c;
}

.en {
    font-family: 'Public Sans', sans-serif;
}

.en2 {
    font-family: 'Cormorant Infant', serif;
}

//*layout*//
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}



.visual {
    padding-top: 150px;
    height: 100vh;
    box-sizing: border-box;
    background: #000;
    color: #fff;

    .inner {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .textBox {
            width: 60%;
            line-height: 1.4;
            transform: translate3d(0, 0, 0);


            p {
                animation-name: textAni3;
                animation-duration: 1s;

                &:nth-child(2) {
                    animation-duration: 1.2s;
                }

                &:nth-child(3) {
                    animation-duration: 1.4s;
                }
            }

            @keyframes textAni3 {
                0% {
                    opacity: 0;
                }

                40% {
                    opacity: 0;
                    transform: translate3d(9, 50px, 0);
                }
            }

            .title {
                font-size: 90px;

                .en2 {
                    font-size: 180px;
                }
            }

            .subTitle {
                font-size: 24px;
                margin: 30px 0;
            }
        }

        .aniBox {
            width: 350px;
            height: 350px;
            position: relative;
            margin-top: 300px;

            img {
                width: 100%;
                position: absolute;
                display: inline-block;
            }

            .spin {
                width: 150%;
                left: -87px;
                top: -25%;
                animation-name: spin;
                animation-duration: 10s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            .arrow {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(180deg);
                width: 20%;
            }
        }
    }
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;

    .profile_inner {
        width: 1600px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .profile_left {
            width: 39%;
            margin: 3%;

            .intro {
                font-size: 56px;
                line-height: 1.4;
                margin-bottom: 40px;

                span {
                    background: #000;
                    color: #fff;
                    padding: 2px 6px;
                }
            }

            .info {
                list-style: none;
                font-size: 18px;
                margin-bottom: 30px;

                li {
                    margin-bottom: 10px;
                }

                strong {
                    display: inline-block;
                    width: 80px;
                    font-weight: 500;
                }
            }

            .line {
                width: 100%;
                height: 1px;
                background: #ccc;
                margin: 30px 0;
            }


            .smmary {
                text-align: left;

                p {
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 20px;
                }
            }
        }


        .profile_right {
            width: 60%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15%;

            h2 {
                font-size: 40px;
                margin-bottom: 20px;
                color: black;
            }

            ul {
                font-size: 18px;

                li {
                    margin-bottom: 16px;
                    line-height: 1.6;

                    span {
                        display: block;
                        font-size: 12px;
                        color: #777;
                    }
                }
            }

            .skill {

                li {
                    display: flex;
                    align-items: flex-start;
                    gap: 14px;
                    margin-bottom: 20px;

                    strong {
                        width: 32px;
                        height: 32px;
                        border: 1px solid #000;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        flex-shrink: 0;
                    }

                    .skill_text {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        .title {
                            font-weight: 500;
                        }

                        .desc {
                            font-size: 12px;
                            color: #666;
                            line-height: 1.4;
                        }
                    }
                }
            }
        }
    }
}

#design {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #0c0c0c;
    color: #fff;
    overflow: hidden;



    .design-title {
        position: absolute;
        top: 80px;
        left: 100px;
        font-size: 90px;
        z-index: 3;
        margin-bottom: 20px;
    }

    .design__wrap {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 300px;
        padding-left: 100px;
        width: calc(600px * 6 + 300px * 5);

        .design__item {
            width: min(600px, 80vw);
            flex-shrink: 0;
            position: relative;
            z-index: 2;



            .design_item_txt {
                padding: 20px;

                h3 {
                    font-size: 50px;
                    color: #D7D7F7;
                    margin-bottom: 16px;
                    text-transform: uppercase;
                }


                p {
                    font-size: 20px;
                    line-height: 1.7;
                    color: #ddd;


                }

            }

            &:nth-child(2) {
                h3 {
                    color: #ff737d;
                }
            }

            &:nth-child(3) {
                h3 {
                    color: #F7DF1E;
                }
            }

            &:nth-child(4) {
                h3 {
                    color: #AFFF8D;
                }
            }

            &:nth-child(5) {
                h3 {
                    color: #215DFF;
                }
            }

            &:nth-child(6) {
                h3 {
                    color: #9A6AFF;
                }
            }

            .line {
                position: absolute;
                top: 100%;
                width: 300px;
                height: 200px;
                transform: translateY(-50%);
                pointer-events: none;
            }

            .fir-line {
                scale: 1.3;
                right: -200px;
                transform: rotateX(180deg)
            }

            .se-line {
                top: 70%;
                left: 700px;
                scale: 1.5;

            }

            .th-line {
                top: 20%;
                right: -300px;
                scale: 1.3;
                transform: rotateZ(60deg);
            }

            .for-line {
                top: -30%;
                left: -250px;
                scale: 1.3;
            }
        }

        .design__item.left {
            transform: translateY(-150px);
        }

        .design__item.right {
            transform: translateY(150px);
        }
    }


}

.flow {
    width: 100%;
    margin: 0 auto;
    height: 50vh;
    background-color: #0c0c0c;

    .wrap {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        margin: 0 auto;
        background-color: transparent;
        padding: 50px 0;

        .wrap__boxs {
            display: flex;
            gap: 80px;
            animation: scroll-left 10s linear infinite;
            width: max-content;

            .wrap__item {
                display: flex;
                align-items: center;
                gap: 20px;
                font-weight: bold;
                white-space: nowrap;

                span {
                    font-size: 80px;
                    font-weight: bold;
                    color: #215dff;
                }
            }
        }

        .wrap__boxs2 {
            display: flex;
            gap: 80px;
            animation: scroll-right 10s linear infinite;
            width: max-content;

            .wrap__item {
                display: flex;
                align-items: center;
                gap: 20px;
                font-weight: bold;
                white-space: nowrap;

                span {
                    font-size: 80px;
                    font-weight: bold;
                    color: #215dff;
                }
            }
        }
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    @keyframes scroll-right {
        0% {
            transform: translateX(-50%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}

#ex-list {
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;


    .ex-inner {
        max-width: 1460px;
        min-height: 100vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;


        .ex-title {
            width: 100%;
            margin: 2% 2%;
            color: #000;
            word-break: keep-all;
            line-height: 2;

            h2 {
                color: #000;
                font-size: 60px;
            }

            p {
                font-size: 18px;
            }
        }


        .ex-contents {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
            width: 100%;
            padding: 4% 0;


            .list {
                position: relative;
                width: 640px;
                height: 500px;
                border-radius: 10px;
                overflow: hidden;
                cursor: pointer;
                transition: transform 0.3s;


                .card-content {
                    padding: 15px;
                    background: #fff;
                    word-break: keep-all;
                    text-align: center;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                        cursor: pointer;
                        border-radius: 12px;
                    }

                    h3 {
                        margin: 10px 0 20px 0;
                        font-size: 25px;
                        color: #6e6d6d;
                    }

                    p {
                        font-size: 18px;
                        color: #000000;
                        line-height: 1.6;
                    }
                }

                .first {
                    border: 1px solid #215DFF;
                }

                .second {
                    border: 1px solid #D7D7d7;
                }

                .third {
                    border: 1px solid #D7D7d7;
                }

                .four {
                    border: 1px solid #215DFF;
                }

            }


        }
    }
}

.con3 {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 100px;
    background: #0c0c0c;

    .textWrap {
        width: 70%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: #fff;

        .title {
            font-size: 38px;

        }

        ul {
            li {
                font-size: 100px;
                line-height: 1.2;

                .en2 {
                    padding-left: 5px;

                }
            }
        }
    }

    .btnWrap {
        position: absolute;
        right: -50%;
        top: 60%;
        z-index: 3;

        a {
            display: block;
            width: 170px;
            height: 170px;
            border-radius: 100%;
            border: 2px solid #fff;
            position: relative;
            box-sizing: border-box;
            transition: 0.5s;

            &:hover {
                border-color: transparent;

                img {
                    &:nth-child(2) {
                        opacity: 1;
                    }
                }

                &::before {
                    width: 100%;
                    height: 100%;
                }
            }

            &::before {
                content: '';
                width: 0;
                height: 0;
                border-radius: 100%;
                background: #fff url(/image/readMore3.png)no-repeat center/158px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                animation-name: spin;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                transition: .4s;
            }


            img {
                width: 22%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);

                &:nth-child(2) {
                    opacity: 0;
                }
            }
        }
    }
}


.simply-scroll {
    .simply-scroll-clip {
        overflow: hidden;
        transform: rotate(5deg) translate(150%, 400px) scale(1.1);
        opacity: 0;

        .simply-scroll-list {
            li {
                float: left;
                width: 400px;
                filter: brightness(50%);

                img {
                    width: 100%;
                }
            }
        }
    }
}


.con3.motion {
    .simply-scroll {
        .simply-scroll-clip {
            transform: rotate(5deg) translate(0%, 400px) scale(1.1);
            opacity: 1;
            transition: 1.2s;
            transition-delay: 0.3s;
        }
    }

    .btnWrap {
        right: 50%;
        transition: 1.2s;
    }

    .textWrap {
        ul {
            li {
                p {
                    animation-name: textAni;
                    animation-duration: 1.3s;
                }
            }
        }
    }
}

@keyframes textAni {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
        transform: translate3d(0, -90px, 0)skewY(-10deg);
        transform-origin: top left;
    }
}

#contact {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: #000;

    .footer-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 180px;
            font-weight: 700;
            margin-top: 200px;
            text-align: center;
            color: #000;
        }

        .stamp {
            width: 200px;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .contact__list {
        margin-top: auto;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 40px 80px;
            margin: auto 0;

            p {
                font-weight: 500;
                line-height: 2;
                font-size: 20px;
            }

            .c_right {
                text-align: end;
            }
        }
    }
}



@media screen and (max-width:1300px) {
    .visual {
        padding-top: 120px;

        .inner {
            width: 90%;

            .textBox {
                transform: translate(0px, 0px);
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .visual {
        .inner {
            .textBox {
                width: 50%;

                .title {
                    font-size: 20vw;

                    .en2 {
                        font-size: 23vw;
                    }
                }
            }

            .aniBox {
                bottom: 10%;
            }
        }
    }

    .con3 {
        .textWrap {
            width: 85%;

            ul {
                li {
                    font-size: 12vw;
                }
            }
        }
    }
}

@media screen and (max-width:800px) {
    .visual {
        .inner {
            .textBox {
                padding-left: 5px;
                margin-bottom: 30px;

                .title {
                    .en2 {
                        margin-left: -25px;
                    }
                }

                .subTitle {
                    font-size: 25px;
                    margin: 0 0 30px;
                }

                .text {
                    width: 50%;
                }
            }

            .aniBox {
                width: 300px;
                height: 300px;
                margin-top: 460px;
                bottom: -20%;
            }
        }
    }

    .con3 {
        .btnWrap {
            a {
                &::before {
                    display: none;
                }

                &:hover {
                    border-color: #fff;
                }

                img {
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }

        }
    }

    .con3.motion {
        .simply-scroll {
            .simply-scroll-clip {
                transform: rotate(10deg) translate(20%, 400px) scale(1.2);
            }
        }
    }

    .simply-scroll {
        .simply-scroll-clip {
            .simply-scroll-list {
                li {
                    width: 200px;
                }
            }
        }
    }
}

@media screen and (max-width:500px) {
    .visual {
        padding-top: 110px;
        height: 70vh;

        .inner {
            .textBox {
                width: 100%;

                .title {
                    .en2 {
                        margin-left: -20px;
                    }
                }

                .subTitle {
                    font-size: 20px;
                }

                .text {
                    width: 100%;
                }

            }

            .aniBox {
                display: none;
            }
        }
    }

    .con3 {
        .textWrap {
            ul {
                li.en2 {
                    padding-left: 10px;
                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    .con3.motion {
        .simply-scroll {
            .simply-scroll-clip {
                transform: rotate(10deg) translate(20%, 300px) scale(1.2);
            }
        }
    }
}