#about {
    width: 100%;
    min-height: 100vh;
    border: 1px solid #ffd;
    color: #000;

    .about__title {
        font-size: 20px;
        color: #000;
        text-align: left;
        padding: 30px 20px;
    }

    .wrap {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        background-color: transparent;
        padding: 100px 0;

        .wrap__boxs {
            display: flex;
            gap: 80px;
            animation: scroll-left 20s linear infinite;
            width: max-content;

            .wrap__item {
                display: flex;
                align-items: center;
                gap: 20px;
                font-weight: bold;
                white-space: nowrap;

                img {
                    width: 500px;
                    height: 400px;
                    object-fit: cover;
                    border-radius: 50px;
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                }

                span {
                    font-size: 80px;
                    font-weight: bold;
                    color: black;
                }
            }
        }
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    .about__box {
        height: 50vh;
        display: flex;
        border-top: 2px solid #000;
        justify-content: center;
        align-items: center;
        margin: 0 50px;
        position: relative;
        position: relative;

        img {
            position: absolute;
            top: 60%;
            left: 12%;
            transform: translate(-40%, -50%);
        }

        .about__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 55%;
            height: 100%;
            text-align: center;
            font-size: 30px;
            line-height: 60px;
        }

        .about__contents {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            width: 50%;
            height: 100%;
            text-align: center;
            line-height: 40px;
            position: relative;

            .more {
                font-size: 16px;
                position: absolute;
                bottom: 10%;
                right: 20%;
                transform: translate(-50%, -50%);
                border-bottom: 1px solid #636363;
                padding: 10px 0;

                &:hover {
                    color: #fff;
                    background-color: rgb(0, 0, 0);
                }
            }
        }
    }
}