#coding {
  width: 100%;
}
#coding .container {
  text-align: center;
}
#coding .container .project__title {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  position: relative;
}
#coding .container .project__title .title {
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.3;
  color: #000;
  text-align: left;
}
#coding .container .project__title .title .highlight {
  background-color: #000000;
  padding: 0 8px 4px 8px;
  border-radius: 6px 6px 2px 2px;
  color: #ffffff;
  font-weight: 900;
  display: inline-block;
  margin-left: 6px;
}
#coding .container .project__title .title .asterisk {
  color: #000;
  font-weight: 900;
  font-size: 2.4rem;
  margin-left: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  line-height: 1;
}
#coding .container .project__title .description {
  flex-basis: 45%;
  font-size: 1.2rem;
  line-height: 2;
  color: #222;
  min-width: 260px;
  text-align: right;
}
#coding .container .reasons__list {
  padding: 0 50px;
  position: relative;
}
#coding .container .reasons__list li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 108px 0;
  cursor: pointer;
  position: relative;
}
#coding .container .reasons__list li .num {
  font-weight: 700;
  font-size: 2rem;
  width: 40px;
  color: #333;
}
#coding .container .reasons__list li .reason__content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 20px;
  text-align: center;
}
#coding .container .reasons__list li .reason__content h3 {
  width: 30%;
  font-weight: 600;
  font-size: 4rem;
  color: #222;
}
#coding .container .reasons__list li .reason__content p {
  width: 60%;
  font-size: 0.9rem;
  line-height: 1.4;
  color: #000;
  text-align: center;
}
#coding .container .reasons__list li:hover {
  background-color: #111;
  border-color: #111;
}
#coding .container .reasons__list li:hover h3 {
  color: #fff;
}
#coding .container .reasons__list li:hover P {
  color: #fff;
}
#coding .container .reasons__list li .card {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
}
#coding .container .reasons__list li .card img {
  width: 220px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(212, 212, 212, 0.25);
}

.btn-next {
  margin-left: auto;
  width: 100px;
  height: 100px;
  border: 1.8px solid #ffffff;
  border-radius: 50%;
  background: transparent;
  font-size: 1.8rem;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-next:hover {
  background-color: #215dff;
  color: #ffffff;
  border-color: #215dff;
}