body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: inherit;
}

/*reset*/
section {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

#contact {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
#contact .footer-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact .footer-title h2 {
  font-size: 160px;
  font-weight: 700;
  margin-top: 200px;
  text-align: center;
  color: #000;
}
#contact .footer-title .stamp {
  width: 200px;
  height: 200px;
}
#contact .footer-title .stamp img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#contact .contact__list {
  margin-top: auto;
}
#contact .contact__list ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 80px;
  margin: auto 0;
}
#contact .contact__list ul p {
  font-weight: 500;
  line-height: 2;
  font-size: 20px;
}
#contact .contact__list ul .c_right {
  text-align: end;
}