 section {
     height: 100vh;
     background: #000;
 }

 #design {
     width: 100%;
     height: 100vh;
     background: #000;
     padding: 2%;
     contain: paint;



     h2 {
         font-size: 6rem;
         color: #fff;
         pointer-events: none;
         text-transform: uppercase;
         white-space: nowrap;
         margin: 50px;

     }

     .design__wrap {
         display: flex;
         width: 200%;
         gap: 50px;
         margin-top: 150px;
         align-items: flex-start;

         .num {
             position: absolute;
             left: 0;
             top: -30px;
             font-size: 20px;
             color: #999;
         }

         .design__item {
             position: relative;
             background: linear-gradient(to top, rgba(74, 92, 172, 0.7) 0%, rgba(57, 114, 57, 0) 100%);
             min-width: 300px;
             flex-shrink: 0;
             width: 16vw;
             aspect-ratio: 1/1.2;
             padding: 1rem;
             display: flex;
             flex-direction: column;
             justify-content: center;
             border: 1px solid #fff;
             color: #eee;
             margin-top: -30px;
             transition: .35s;

             a {
                 display: block;
                 height: 100%;

                 img {
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                     transition: .35s;
                     filter: saturate(0%);
                 }
             }

             &:hover {
                 margin-top: 0;
                 transition: .35s;

                 img {
                     filter: saturate(100%);
                     transition: .35s;

                 }
             }
         }
     }
 }