section {
  height: 100vh;
  background: #000;
}

#design {
  width: 100%;
  height: 100vh;
  background: #000;
  padding: 2%;
  contain: paint;
}
#design h2 {
  font-size: 6rem;
  color: #fff;
  pointer-events: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 50px;
}
#design .design__wrap {
  display: flex;
  width: 200%;
  gap: 50px;
  margin-top: 150px;
  align-items: flex-start;
}
#design .design__wrap .num {
  position: absolute;
  left: 0;
  top: -30px;
  font-size: 20px;
  color: #999;
}
#design .design__wrap .design__item {
  position: relative;
  background: linear-gradient(to top, rgba(74, 92, 172, 0.7) 0%, rgba(57, 114, 57, 0) 100%);
  min-width: 300px;
  flex-shrink: 0;
  width: 16vw;
  aspect-ratio: 1/1.2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #fff;
  color: #eee;
  margin-top: -30px;
  transition: 0.35s;
}
#design .design__wrap .design__item a {
  display: block;
  height: 100%;
}
#design .design__wrap .design__item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.35s;
  filter: saturate(0%);
}
#design .design__wrap .design__item:hover {
  margin-top: 0;
  transition: 0.35s;
}
#design .design__wrap .design__item:hover img {
  filter: saturate(100%);
  transition: 0.35s;
}