#footer {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
#footer h2 {
  font-size: 180px;
  font-weight: 700;
  margin-top: 200px;
  text-align: center;
  color: #000;
}
#footer .footer__list {
  margin-top: auto;
}
#footer .footer__list ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 80px;
  margin: auto 0;
}
#footer .footer__list ul p {
  font-weight: 500;
  line-height: 2;
  font-size: 20px;
}
#footer .footer__list ul .f_right {
  text-align: end;
}