@charset "UTF-8";
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 40px;
  z-index: 999;
}
#header .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  /* 원하는 여백 */
}
#header .header__inner .header__logo {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
#header .header__inner .header__logo a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}
#header .header__inner .menu__toggle {
  cursor: pointer;
  width: 30px;
  height: 20px;
  position: relative;
}
#header .header__inner .menu__toggle .hamburger {
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* 메뉴 아이콘 */
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: rgb(0, 0, 0);
  transition: 0.3s ease;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  top: 8px;
}

/* 오버레이 메뉴 */
.overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 65%;
  height: 100%;
  background: white;
  color: black;
  z-index: 1000;
  transition: right 0.5s ease;
  display: flex;
  flex-direction: column;
}

.overlay.open {
  right: 0;
}

.close-btn {
  font-size: 50px;
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.close-btn:hover {
  transform: rotate(180deg);
}

.overlay-content {
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.overlay-content .socials,
.overlay-content .main-menu,
.overlay-content .contact {
  flex: 1;
}

.main-menu a {
  display: block;
  font-size: 40px;
  margin: 10px 0;
  color: black;
  text-decoration: none;
}

.main-menu a:hover {
  text-decoration: underline;
}