#home {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    .title {
        color: #215DFF;
        position: relative;

        img {
            position: absolute;
            top: 60%;
            right: -10%;
            transform: translate(20%, -40%);
        }

      ul{
        li{
            font-size: 180px;
            font-weight: 600;
        }
      }
    }
}