#home {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    .title {
        color: #d0ff60;
        position: relative;
        img{
            position: absolute;
            top: 60%;
            right: -10%;
            transform: translate(20%,-40%);
        }
        h1 {
            font-size: 100px;
        }
    }
}