#profile {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile .profile_inner {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#profile .profile_inner .profile_left {
  width: 39%;
  margin: 3%;
}
#profile .profile_inner .profile_left .intro {
  font-size: 56px;
  line-height: 1.4;
  margin-bottom: 40px;
}
#profile .profile_inner .profile_left .intro span {
  background: #000;
  color: #fff;
  padding: 2px 6px;
}
#profile .profile_inner .profile_left .info {
  list-style: none;
  font-size: 18px;
  margin-bottom: 30px;
}
#profile .profile_inner .profile_left .info li {
  margin-bottom: 10px;
}
#profile .profile_inner .profile_left .info strong {
  display: inline-block;
  width: 80px;
  font-weight: 500;
}
#profile .profile_inner .profile_left .line {
  width: 100%;
  height: 1px;
  background: #ccc;
  margin: 30px 0;
}
#profile .profile_inner .profile_left .smmary {
  text-align: left;
}
#profile .profile_inner .profile_left .smmary p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}
#profile .profile_inner .profile_right {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15%;
}
#profile .profile_inner .profile_right h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: black;
}
#profile .profile_inner .profile_right ul {
  font-size: 18px;
}
#profile .profile_inner .profile_right ul li {
  margin-bottom: 16px;
  line-height: 1.6;
}
#profile .profile_inner .profile_right ul li span {
  display: block;
  font-size: 12px;
  color: #777;
}
#profile .profile_inner .profile_right .skill li {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 20px;
}
#profile .profile_inner .profile_right .skill li strong {
  width: 32px;
  height: 32px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  flex-shrink: 0;
}
#profile .profile_inner .profile_right .skill li .skill_text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#profile .profile_inner .profile_right .skill li .skill_text .title {
  font-weight: 500;
}
#profile .profile_inner .profile_right .skill li .skill_text .desc {
  font-size: 12px;
  color: #666;
  line-height: 1.4;
}