body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: inherit;
}

/*reset*/
section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

#wrap {
  min-width: 1460px;
  overflow: hidden;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 30px;
}

P {
  font-size: 18px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
  min-height: 80vh;
  position: relative;
}
.main .main-title {
  position: absolute;
  right: 50px;
  top: 30%;
}
.main .main-title h3 {
  font-size: 100px;
  color: #215DFF;
  margin-bottom: 30px;
}
.main .main-title p {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.6;
}
.main .main-title .main-subp {
  font-size: 18px;
}

.con1 {
  width: 100%;
  height: 150vh;
}
.con1 .con1-inner {
  min-width: 1460px;
  margin: 0 auto;
}
.con1 .con1-inner .con1-title {
  margin-bottom: 100px;
}
.con1 .con1-inner .con1-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 15%;
}
.con1 .con1-inner .con1-list li {
  width: 500px;
  height: 500px;
  background: #a0a0a0;
}
.con1 .con1-inner .con1-list li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.con1 .con1-inner .con1-list .center {
  width: 550px;
  height: 700px;
}
.con1 .con1-inner .con1-title2 {
  margin: 100px 0;
}
.con1 .con1-inner .con1-list2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.con1 .con1-inner .con1-list2 li {
  width: 700px;
  height: 500px;
  background: #a0a0a0;
}
.con1 .con1-inner .con1-list2 li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.con2 {
  position: relative;
  height: 1200px;
  overflow: hidden;
  color: #fff;
}
.con2 .circle {
  display: block;
  width: 3500px;
  height: 3500px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
.con2 .textBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}
.con2 .textBox .con2-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #fff;
  margin: 10% 0;
}
.con2 .textBox .con2-list li {
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 30px;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: -5px;
  line-height: 1;
}
.con2 .textBox p {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.con3 {
  width: 100%;
  min-height: 350vh;
  background: #000;
  color: #fff;
}
.con3 .con3-inner {
  min-width: 1460px;
  margin: 0 auto;
}
.con3 .con3-inner .con3-title {
  margin-bottom: 100px;
}
.con3 .con3-inner .refer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 10%;
}
.con3 .con3-inner .refer .imgBox {
  width: 800px;
  height: 500px;
}
.con3 .con3-inner .refer .imgBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.con3 .con3-inner .refer .textBox {
  width: 30%;
}
.con3 .con3-inner .refer .textBox h3 {
  font-size: 25px;
  margin-bottom: 20px;
}
.con3 .con3-inner .refer .textBox p {
  line-height: 1.5;
}
.con3 .con3-inner .refer2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 10%;
}
.con3 .con3-inner .refer2 .imgBox {
  width: 800px;
  height: 500px;
}
.con3 .con3-inner .refer2 .imgBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.con3 .con3-inner .refer2 .textBox {
  width: 30%;
}
.con3 .con3-inner .refer2 .textBox h3 {
  font-size: 25px;
  margin-bottom: 20px;
}
.con3 .con3-inner .refer2 .textBox p {
  line-height: 1.5;
}
.con3 .con3-inner .refer3 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10%;
  gap: 20%;
}
.con3 .con3-inner .refer3 .refer3-con1 {
  width: 50%;
  text-align: center;
}
.con3 .con3-inner .refer3 .refer3-con2 {
  width: 50%;
  text-align: center;
}
.con3 .con3-inner .refer3 .imgBox {
  width: 100%;
  height: 500px;
}
.con3 .con3-inner .refer3 .imgBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.con3 .con3-inner .refer3 .textBox {
  width: 100%;
  text-align: center;
}
.con3 .con3-inner .refer3 .textBox h3 {
  font-size: 25px;
  margin-bottom: 20px;
}
.con3 .con3-inner .refer3 .textBox p {
  line-height: 1.5;
}
.con3 .con3-inner .con3-title2 {
  margin: 100px 0;
}
.con3 .con3-inner .con3-w-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.con3 .con3-inner .con3-w-list li {
  width: 300px;
  height: 700px;
  background: #a0a0a0;
  border: 1px solid #0f0;
}
.con3 .con3-inner .con3-w-list li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.con4 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.con4 .con4-inner {
  min-width: 1560px;
  margin: 0 auto;
}
.con4 .con4-inner .con4-title {
  margin: 10% 0 12%;
}

.con5 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.con5 .con5-inner {
  min-width: 1560px;
  margin: 0 auto;
}
.con5 .con5-inner .con5-title {
  margin: 10% 0 12%;
}
.con5 .con5-inner .con5-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}
.con5 .con5-inner .con5-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.con5 .con5-inner .color {
  display: flex;
  flex-direction: column;
  margin: 10% 5% 12%;
}
.con5 .con5-inner .color .color-title {
  margin-bottom: 50px;
}
.con5 .con5-inner .font {
  display: flex;
  flex-direction: column;
  margin: 10% 5% 12%;
}
.con5 .con5-inner .font .font-title {
  margin-bottom: 50px;
}

.con6 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.con6 .con6-inner {
  min-width: 1560px;
  margin: 0 auto;
  position: relative;
}
.con6 .con6-inner .con6-title {
  position: absolute;
  right: 10px;
  top: 0;
  margin: 10% 0 2%;
  text-align: right;
}
.con6 .con6-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.con6 .con6-list li {
  width: 300px;
  height: 700px;
  border: 1px solid #000;
}
.con6 .con6-list li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#contact {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
#contact .footer-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact .footer-title h2 {
  font-size: 160px;
  font-weight: 700;
  margin-top: 200px;
  text-align: center;
  color: #000;
}
#contact .footer-title .stamp {
  width: 200px;
  height: 200px;
}
#contact .footer-title .stamp img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#contact .contact__list {
  margin-top: auto;
}
#contact .contact__list ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 80px;
  margin: auto 0;
}
#contact .contact__list ul p {
  font-weight: 400;
  line-height: 2;
  font-size: 20px;
}
#contact .contact__list ul .c_right {
  text-align: end;
}