  #project {
      width: 100%;
      margin: 0 auto;
      min-height: 100vh;
      background-color: #000;

      .wrap {
          overflow: hidden;
          white-space: nowrap;
          width: 100%;
          margin: 0 auto;
          background-color: transparent;
          padding: 100px 0;

          .wrap__boxs {
              display: flex;
              gap: 80px;
              animation: scroll-left 100s linear infinite;
              width: max-content;

              .wrap__item {
                  display: flex;
                  align-items: center;
                  gap: 20px;
                  font-weight: bold;
                  white-space: nowrap;

                  span {
                      font-size: 80px;
                      font-weight: bold;
                      color: #215dff;
                  }
              }
          }
      }

      @keyframes scroll-left {
          0% {
              transform: translateX(0%);
          }

          100% {
              transform: translateX(-50%);
          }
      }

      .project-inner {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 90%;
          height: 50vh;
          margin: 0 auto;

          .text-area {
              width: 30%;
              height: 20vh;
              position: relative;
              padding: 40px;


              h2 {
                  font-size: 20px;
                   color: #215dff;
                  margin-bottom: 8px;
              }

              h1 {
                  font-size: 34px;
                  color: #215dff;
                  margin-bottom: 25px;
              }

              .arrow-area {
                  width: 50%;
                  position: absolute;
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  text-align: center;



                  img {
                      width: 50%;
                      height: 50%;
                      object-fit: cover;
                      cursor: pointer;
                  }

                  .swiper-pagination {
                      color: #215dff;
                      top: 45%;
                      font-size: 15px;
                  }
              }

          }

          .swiper {
              overflow: hidden;
              width: 70%;
             

              .swiper-wrapper {
                  display: flex;
                  transition: transform 0.6s ease;

                  .swiper-slide {
                      width: 200px;
                      height: 560px;
                      border-radius: 20px;
                      position: relative;
                      overflow: hidden;
                      flex-shrink: 0;
                      color: #fff;
                      cursor: pointer;
                      transition: transform 0.3s ease;

                      &:hover .arrow {
                          right: 20px;
                          opacity: 1;
                      }

                      &:hover {
                          transform: translateY(-5px);
                      }

                      .card-content {
                          position: absolute;
                          bottom: 25px;
                          left: 25px;

                          h3 {
                              font-size: 22px;
                              margin-bottom: 5px;
                          }

                          p {
                              font-size: 14px;
                              opacity: 0.8;
                          }
                      }

                      .arrow {
                          position: absolute;
                          bottom: 20px;
                          right: -40px;
                          font-size: 50px;
                          color: #fff;
                          opacity: 0;
                          transition: all 0.4s ease;
                      }
                  }

                  .blue {
                      background: linear-gradient(10deg, #3388ff, #6f4bff);
                  }

                  .red {
                      background: linear-gradient(10deg, #f54949, #cc0000);
                  }

                  .purple {
                      background: linear-gradient(10deg, #b76bff, #8058ff);
                  }
              }
          }
      }
  }