#profile {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;

    justify-content: center;
    align-items: center;


    .profile_inner {
        width: 1600px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .profile_left {
            .intro {
                font-size: 56px;
                line-height: 1.4;
                margin-bottom: 40px;

                span {
                    background: #000;
                    color: #fff;
                    padding: 2px 6px;
                }
            }

            .info {
                list-style: none;
                font-size: 18px;
                margin-bottom: 30px;

                li {
                    margin-bottom: 10px;
                }

                strong {
                    display: inline-block;
                    width: 80px;
                    font-weight: 500;
                }
            }

            .line {
                width: 100%;
                height: 1px;
                background: #ccc;
                margin: 30px 0;
            }


            .smmary {
                text-align: left;

                p {
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 20px;
                }
            }
        }


        .profile_right {
           
            width: 60%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            

            h2 {
                font-size: 40px;
                margin-bottom: 20px;
                color: black;
            }

            ul {
                font-size: 18px;

                li {
                    margin-bottom: 16px;
                    line-height: 1.6;

                    span {
                        display: block;
                        font-size: 12px;
                        color: #777;
                    }
                }
            }

            .skill {
                
                li {
                    display: flex;
                    align-items: flex-start;
                    gap: 14px;
                    margin-bottom: 20px;

                    strong {
                        width: 32px;
                        height: 32px;
                        border: 1px solid #000;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        flex-shrink: 0;
                    }

                    .skill_text {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        .title {
                            font-weight: 500;
                        }

                        .desc {
                            font-size: 12px;
                            color: #666;
                            line-height: 1.4;
                        }
                    }
                }
            }
        }
    }
}