#skill {
    width: 100%;
    margin: 0 auto;
    min-height: 140vh;
    background-color: #000;

    .skill__inner {
        width: 1400px;
        margin: 0 auto;

        .skill__title {
            margin-bottom: 30px;
            padding: 100px 0px;
            color: #fff;

            h2 {
                font-size: 100px;
                 color: #215DFF;
                padding: 30px 0;
            }

            p {
                font-size: 18px;
                font-weight: 300;
                line-height: 25px;
            }
        }

        .skills__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 55px;

            .card {
                width: 300px;
                height: 300px;
                perspective: 1000px;

                .card__inner {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    transform-style: preserve-3d;
                    transition: transform 0.6s;

                    .card__front,
                    .card__back {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        backface-visibility: hidden;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        font-family: sans-serif;
                        color: white;
                        overflow: hidden;
                    }

                    .card__front {
                        background-color: #222;

                        .icon {
                            font-size: 10px;
                            font-weight: bold;
                            padding: 30px 10px;
                            border-radius: 50%;
                            margin-bottom: 10px;
                            width: 49%;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }


                    .card__back {
                        background-color: #1a1a1a;
                        font-size: 14px;
                        padding: 10px;
                        text-align: center;
                        word-break: keep-all;
                        transform: rotateY(180deg);
                        line-height: 2;
                        h3{
                            font-size: 22px;
                        }
                    }
                }

                &:hover {
                    .card__inner {
                        transform: rotateY(180deg);
                    }
                }
            }
        }
    }
}