#skill {
  width: 100%;
  margin: 0 auto;
  min-height: 140vh;
  background-color: #000;
}
#skill .skill__inner {
  width: 1600px;
  margin: 0 auto;
}
#skill .skill__inner .skill__title {
  margin-bottom: 30px;
  padding: 30px 0px;
  color: #fff;
}
#skill .skill__inner .skill__title h2 {
  font-size: 100px;
  color: #d0ff60;
  padding: 30px 0;
}
#skill .skill__inner .skill__title p {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}
#skill .skill__inner .skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
#skill .skill__inner .skills__container .card {
  width: 300px;
  height: 300px;
  perspective: 1000px;
}
#skill .skill__inner .skills__container .card .card__inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
#skill .skill__inner .skills__container .card .card__inner .card__front,
#skill .skill__inner .skills__container .card .card__inner .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: white;
  overflow: hidden;
}
#skill .skill__inner .skills__container .card .card__inner .card__front {
  background-color: #222;
}
#skill .skill__inner .skills__container .card .card__inner .card__front .icon {
  font-size: 10px;
  font-weight: bold;
  padding: 30px 10px;
  border-radius: 50%;
  margin-bottom: 10px;
  width: 49%;
}
#skill .skill__inner .skills__container .card .card__inner .card__front .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#skill .skill__inner .skills__container .card .card__inner .card__back {
  background-color: #1a1a1a;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  word-break: keep-all;
  transform: rotateY(180deg);
  line-height: 2;
}
#skill .skill__inner .skills__container .card .card__inner .card__back h3 {
  font-size: 22px;
}
#skill .skill__inner .skills__container .card:hover .card__inner {
  transform: rotateY(180deg);
}