#video {
    width: 100%;
    height: 100vh;

    .container {
        text-align: center;

        .project__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            margin-bottom: 50px;
            height: 30vh;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 42%;
                transform: translate(-40%, -50%);
            }

            .title {
                font-weight: 600;
                font-size: 6rem;
                line-height: 1.3;
                color: #000;
                flex-basis: 55%;

                .highlight {
                    background-color: #d0ff4b;
                    padding: 0 8px 4px 8px;
                    border-radius: 6px 6px 2px 2px;
                    color: #111;
                    font-weight: 900;
                    display: inline-block;
                    margin-left: 6px;
                }

                .asterisk {
                    color: #000;
                    font-weight: 900;
                    font-size: 2.4rem;
                    margin-left: 6px;
                    user-select: none;
                    line-height: 1;
                }
            }

            .description {
                flex-basis: 45%;
                font-size: 1.2rem;
                line-height: 2;
                color: #222;
                min-width: 260px;
            }
        }

        .reasons__list {
            padding: 0 50px;
            position: relative;

            li {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #ccc;
                padding: 58px 0;
                cursor: pointer;
                position: relative;

                .num {
                    font-weight: 700;
                    font-size: 1.3rem;
                    width: 40px;
                    color: #333;
                }

                .reason__content {
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    margin-left: 20px;
                    text-align: center;

                    h3 {
                        width: 30%;
                        font-weight: 600;
                        font-size: 2rem;
                        color: #222;
                    }

                    p {
                        width: 60%;
                        font-size: 0.9rem;
                        line-height: 1.4;
                        color: #000;
                        text-align: center;
                    }
                }

                &:hover {
                    background-color: #111;
                    border-color: #111;

                    h3{
                        color: #fff;
                    }

                    P{
                        color: #fff;
                    }
                }

                .card {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transform: scale(0.8);
                    transition: opacity 0.5s ease, transform 0.5s ease;
                    pointer-events: none;
                  


 
                    img {
                        width: 220px;
                        border-radius: 12px;
                        box-shadow: 0 10px 30px rgba(212, 212, 212, 0.25);
                    }
                }
            }
        }
    }
}


.btn-next {
    margin-left: auto;
    width: 48px;
    height: 48px;
    border: 1.8px solid #ffffff;
    border-radius: 50%;
    background: transparent;
    font-size: 1.8rem;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-next:hover {
    background-color: #d0ff4b;
    color: #000;
    border-color:#d0ff4b;
}