#work {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 0;
    border: 1px solid #000;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;


    .left {
        width: 30%;
        height: 100vh;
        background-color: #000;
        padding: 50px;


        .sticky {
            position: sticky;
            top: 40%;
            transform: translateY(-25%);
            color: #000;

            h2 {
                font-size: 4rem;
                margin-bottom: 20px;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.5;
                color: #fff;
            }
        }
    }

    .right {
        width: 70%;
        height: 100vh;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: 1fr 1fr;
        scrollbar-width: none;
        border: 1px solid #ccc;

        .work-right::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari */
        }

        .card {
            border: 1px solid #ccc;
            height: 400px;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}