@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
    font-family: 'gallery';
    src: url(./gallery.otf) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KATANAS';
    src: url(./KATANAS\ EDGE.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KATANAS';
    src: url(./MIGHTY\ BRUSH\ DEMO.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brush';
    src: url(./Good\ Brush.otf) format('woff');
    font-weight: normal;
    font-style: normal;
}

