@font-face {
    font-family: 'Paperlogy-6SemiBold';
    src: url('../fonts/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy-4Regular';
    src: url('../fonts/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}